@model PlanoEnsinoWEB.Models.Curso

@{
    ViewBag.Title = "Cliente";
    WebGrid grid = new WebGrid(canPage: false, canSort: false);
    grid.Bind(Model.Cursos,
              autoSortAndPage: false
    );
}

<p></p>

@using (Html.BeginForm())
{
    <form class="form-horizontal" role="form">
        <table class="table">
            <tr>
                <td> Nome</td>
                <td>@Html.TextBoxFor(model => model.nome)</td>
            </tr>
            <tr>
                <td>Cidade</td>
                <td>@Html.TextBoxFor(model => model.objetivo)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" id="search" title="Pesquisar" value="Pesquisar" />
                </td>
            </tr>
        </table>
    </form>
    <div id="resultadoPesquisa">
        @grid.GetHtml(
        fillEmptyRows: true,alternatingRowStyle: "alternate-row",headerStyle: "grid-header",footerStyle: "grid-footer",
        columns: new[] {
            grid.Column("Nome"),
            grid.Column("Objetivo"),
            grid.Column("Estado")
        })
    </div>
}
